.row-fluid
  <h2>O nas</h2>
  <p>Športno društvo KinVital v večini sestavljamo kineziologi s Fakultete za šport. Od tod tudi ime, ki je sestavljeno iz besed kineziologija in vitalnost. S skrbno izbranimi gibanji in vajami vas pripeljemo do želene vitalnosti. Poleg nas pa v društvu aktivno sodeluje tudi Mark Bračič, študent zadnjega letnika psihologije.</p>
  %ul.thumbnails
    -@users.each do |user|
      %li.span4
        %div.thumbnail  
          %img{'src' => 'http://placehold.it/300x300'}
          %h4.flow
            =link_to user.name, user_path(user)
  
