.row-fluid
  .span12
    %p
      = link_to '<i class="icon-chevron-left"></i> Vsi inštruktorji'.html_safe, users_path
.row-fluid
  .span4
    %ul.thumbnails  
      %li.span12
        %div.thumbnail  
          -unless @user.picture.nil?
            =image_tag(@user.picture)
          -else
            %img{'src' => 'http://placekitten.com/300/450'}
          %h4.flow
            =@user.name
  .span8
    =raw @user.description
