#photoGallery
  %ul.bjqs
    %li
      %img{:src => "http://i1343.photobucket.com/albums/o782/jakob-pavlic/DSCN4902_zps17865775.jpg", :title => "KIN:Bootcamp", :width => "380"}
    %li
      %img{:src => "http://i1343.photobucket.com/albums/o782/jakob-pavlic/DSCN4919_zps8d1889d2.jpg", :title => "KIN:Upokojenci", :width => "380"}
    %li
      %img{:src => "http://i1343.photobucket.com/albums/o782/jakob-pavlic/DSCN4883_zps4237ad5a.jpg", :title => "KIN:raztezanje", :width => "380"}

:javascript
  jQuery(document).ready(function($) {
      $('#photoGallery').bjqs({
            animtype : 'fade',
            animduration : 700,
            animspeed : 5000,
            height : 285,
            width : 380,
            responsive : true,
            randomstart : true,
            usecaptions : true,
            showcontrols: false,
            keyboardnav: true
      });
  });

#latestBlog

