%h1
  =@post.title

%small
  =@post.created_at.strftime("%d %b. %Y")

  =@post.created_at.strftime("%H:%M")

%p
  =@post.content
  &#xf004

%small
  = link_to @post.instructor.name, instructor_path(@post.instructor)
  
= link_to 'Nazaj na vse objave', posts_path
