/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
/*
 *= require font-awesome
 */

/*glavno ogrodje*/
div#container{
  width: 750px;
  margin:0 auto;
  border: solid 1px gray;
  }
div#content{
  padding: 20px;
}
/*glavno kazalo*/
#mainMenu li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}
#mainMenu {
  margin: 0 auto;
  width: 400px;
}
#latestBlog{
  float: right;
  width:200px
}
#photoGallery {
  width: 420px;
  height: 220px;
  margin: 20px;
  float:left;
}
#footer {
  clear:left;
}
