// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post{
  background-color: #FFF;
  padding-top: 30px;
  margin: 0px;
}
p {
  text-align:justify;
}

.komentarji{
  margin{
    top:50px;
  }
}

