// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url(/assets/subtle_dots.png);
  //background-color: #2E2633;
  //color: #EFFFCD;
  //www.subtle-patterns.com
}
//vsebina
.content {
   background-color: #FFFFFF;
   padding: 30px;
   //border: solid 3px #CAD7B2;
}
h1,h2,h3,h4{
  font-family: 'Titillium Web', sans-serif;
  //color: #99173C;
  //background-color:;
  //border-left: solid 15px #CAD7B2;
}
.flow {
  //font-family: 'Advent Pro',Helvetica, Arial, sans-serif;
  font-family: 'Patrick Hand', cursive;
  font-size:20px;
}


