// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#Galerija{
}

$petrol: #19586D;
$petroll: darken($petrol, 9%);
@mixin border_radius($tl: 5px, $tr: 5px, $br: 5px, $bl: 5px) {
  -moz-border-radius: $tl $tr $br $bl;
  -webkit-border-top-left-radius: $tl;
  -webkit-border-top-right-radius: $tr;
  -webkit-border-bottom-right-radius: $br;
  -webkit-border-bottom-left-radius: $bl;
  border-radius: $tl $tr $br $bl;
}


body {
  background-image: url(/assets/subtle_dots.png);
  //www.subtle-patterns.com
}
//vsebina
.content {
   background-color: #FFFFFF;
   padding: 30px;
   //border: solid 1px #E0E0E0;
}
.oswald{
  @include border_radius (10px, 10px, 0px, 0px);
  font-family: 'Oswald',"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $petrol;
  padding: 5px;
}
