.row-fluid
  .span7
    - @exercises.each do |exercise|
      %h3
        = link_to exercise.name, exercise
      %ul.thumbnails
        -if !(exercise.first_picture.nil?) && exercise.second_picture.nil? 
          %li.span12
            %div.thumbnail  
              =link_to image_tag(exercise.first_picture), exercise_path(exercise)
        -elsif !(exercise.first_picture.nil?) && !(exercise.second_picture.nil?)
          %li.span6
            %div.thumbnail  
              =link_to image_tag(exercise.first_picture), exercise_path(exercise)
          %li.span6
            %div.thumbnail  
              =link_to image_tag(exercise.second_picture), exercise_path(exercise)

                
      = raw exercise.description
      %hr
  .span4.offset1
    %h2
      Lokacije in termini
    %h4
      KinFlow
    %ul
      %li
        Ponedeljek ob 19.00 (Tivoli)
      %li
        Sreda ob 19.00 (Tivoli)
    %h4
      KinRun
    %ul
      %li
        Ponedeljek ob 21.00 (Kongresni trg) - nočni tek po centru mesta
      %li
        Torek ob 18.00 (Tivoli)
      %li
        Sreda ob 21.00 (Kongresni trg) – nočni tek po centru mesta
      %li
        Četrtek 18.00 (Tivoli)

    %h4
      KinExtreme

    %ul
      %li
        Torek ob 18.30 (Kodeljevo)
      %li
        Četrtek ob 18.30 (Kodeljevo)

    %h4
      KinWalk
    %ul
      %li
        Torek ob 19.00 (Tivoli)
      %li
        Petek ob 19.00 (Tivoli)

    %h4
      KinSenior
    %ul
      %li
        Torek ob 7.30 (Tivoli)
      %li
        Četrtek ob 7.30 (Tivoli)

    %h4
      KinElite

    %ul
      %li
        Po dogovoru.
