    %meta{"property" => "og:title", :content => "Športno društvo KinVital"}
    %meta{"property" => "og:type", :content => "activity"}
    %meta{"property" => "og:url", :content => "#{request.protocol}#{request.host}#{request.fullpath}"}
    %meta{"property" => "og:image", :content => "http://i1343.photobucket.com/albums/o782/jakob-pavlic/DSCN4902_zps17865775.jpg"}
    %meta{"property" => "og:site_name", :content => "KinVital"}
    %meta{"property" => "fb:admins", :content => "178312275649225"}
